@model Buffet.Models.KitchenViewModel
@{
    ViewData["Title"] = "Kitchen";
}

<div class="container">
    <div class="row">
        <form asp-action="Details" method="post">
            <input type="hidden" asp-for="Date.Date" />
            <input type="submit" value="Refresh" class="btn btn-primary" />
        </form>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input asp-for="Date" class="form-control"/>
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Date" class="text-danger"/>
        </div>
        <div class="col-md-4">
            <input type="submit" value="Go" class="btn btn-secondary"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Total expected guests
                </strong>
                @Model.ExpectedGuests
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Expected children
                </strong>
                @Model.ExpectedChildren
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Expected adults
                </strong>
                @Model.ExpectedAdults
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Adults checked in
                </strong>
                @Model.AdultsCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Children checked in
                </strong>
                @Model.ChildrenCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Total guests not checked in
                </strong>
                @Model.TotalNotCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Children not checked in
                </strong>
                @Model.ChildrenNotCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Adults not checked in
                </strong>
                @Model.AdultsNotCheckedIn
            </p>
        </div>
    </div>
</div>


