@model Buffet.Models.KitchenViewModel
@{
    ViewData["Title"] = "Kitchen";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger" />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"> Choose a date </label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger" />
                    <input type="submit" value="Go" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input asp-for="Date" class="form-control" />
        </div>
        <div class="col-md-3">
            <span asp-validation-for="Date" class="text-danger" />
            <input type="submit" value="Go" class="btn btn-second" />
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Total expected guests
                </strong>
                @Model.ExpectedGuests
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Expected children
                </strong>
                @Model.ExpectedChildren
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Expected adults
                </strong>
                @Model.ExpectedAdults
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Adults checked in
                </strong>
                @Model.AdultsCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Children checked in
                </strong>
                @Model.ChildrenCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Total guests not checked in
                </strong>
                @Model.TotalNotCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Children not checked in
                </strong>
                @Model.ChildrenNotCheckedIn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" align="left">
            <p>
                <strong>
                    Adults not checked in
                </strong>
                @Model.AdultsNotCheckedIn
            </p>
        </div>
    </div>
</div>


